#container{
    height: 300px;
    width: 600px;
    background-color: black;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px 30px;

}
.itm{
    height: 50px;
    width: 100px;
    text-align: center;
    background-color: greenyellow;
    border: 2px solid blue;
    
}
.one{
    background-color: yellow;
    grid-row: 1/4;
}