.outer{
    height:200px;
    width: 200px;
    border:2px solid black;
    background-color: yellow;
    border-radius: 50%;
}
.eye{
    height: 40px ;
    width:40px ;
    border:10px solid black;
    border-radius: 50% ;
    background-color: black;
    margin:40px;
    position:relative;
    bottom: -50px;
    
    
    display: inline;
    

}
.smile{
    height:40px;
background-color: black;
    width: 90px;
    position: relative;
    bottom: -60px;
    margin:55px;
    border-bottom-right-radius: 25px ;
    border-bottom-left-radius: 25px ;
}