p{
    color: #ff0000;
    text-align: center;
    line-height: 30px;
}
h1{
    text-align: center;
    font-family: georgia;
    text-decoration: underline;
}
h3{
    text-align: center;
    color: #000;
    font-family: georgia;

}
h4{
    text-align: center;
    font-family: georgia;

}
textarea{
    text-align: center;
    font-family: georgia;
    color:#000000;

}
button{
    text-align: center;
    background-color: #ffffff;
    color:violet;
    font-family: georgia;

}
a{
    color: rgb(0, 255, 0);
    text-decoration: none;

}
span{
    text-decoration: underline;
}
