h1{
    text-decoration: double teal underline;
    color:#ffa511;
    font-family:League sparton;
    text-align:center;
    font-size: 55px;
    letter-spacing: 2px;
    font-size: 55px;
    font-weight: 900;
    line-height: 1.5;
    text-transform: uppercase;
}